//### Primary

$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

//### Neutral

$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);

body {
  background-color: $Dark-Grayish-Blue;
}

main {
  background-color: $Grayish-Blue;
}

#advice-id-number {
  color: $Neon-Green;
}

#advice-search-button {
  background-color: $Neon-Green;
}

#advice-clear-button {
  background-color: red;
}
